<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dbbikes</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
    <div id="container">
        <div id="map">Map</div>
        <div id="graph">Graph</div>
        <div id="weather">Weather</div>
        <div id="location_input">Location and Input</div>
    </div>

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAyJ5pu1ozFV1DqfvwuJ-XQakAUDCm-dOc&callback=initMap" async defer></script>
<script src="../static/index.js"></script>
</body>
</html>